* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    background: #111827;
    overflow-x: hidden;
}
header {
    height: 100vh;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);   
    background-size: 200% 200%;
    animation: color 12s ease-in-out infinite;
}
.title {
    font-family: 'gnuolane', 'Tungsten A', 'Tungsten B', 'Tungsten', Helvetica, sans-serif;
    font-size: 100px;
    font-weight: 300;
    text-transform: uppercase;
    color: #FFFAE3;
    text-align: center; 
    margin: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
@keyframes color {
    0%{
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    1000% {
        background-position: 0 50%;
    }
}