<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home A Loan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <a href="index.html">
                    <img src="{{ url_for('static', filename='HomeLogo.png') }}">
                </a>
            </div>
            <div class="content">
                <h1>Home A Loan</h1>
                <p>Home A Loan utilizes advanced machine learning algorithms to accurately assess each applicant's repayment capability, reducing the risk of default and promoting financial inclusion through informed lending decisions. We are committed to fair treatment, mitigating bias, and fostering economic empowerment for all applicants.</p>
                <button onclick="scrollToMain()" class="button-1">Try it Now</button>
            </div>
        </div>
        <div id="blob1"></div>
        <div id="blob2"></div>
        <div id="blob3"></div>

    </header>
    <main id="mainContent">
        <div class="content2">
            <h2>Enter your data (choose models)</h2>
        </div>
        <div> 
            <button class="model-options" id="model-options1">Logistic</button>
            <button class="model-options" id="model-options2">LightGBM</button>
            <button class="model-options" id="model-options3">xgbBooster</button>
        </div>
        
        
        
        <div class = "sliders"> 
            <div>
                <h3>Year of Birth</h3>
    
                <Input class="range" type="range" name="yearOfBirth" value="0" min="1960" max="2000" onChange="rangeSlide()" ></Input>
                <span class = "slider-value">1960</span>
            </div>
            <div>
                <h3>Average Days Past Due</h3>
    
                <Input class="range" type="range" name="averageDaysPastDue" value="0" min="0" max="10" onChange="rangeSlide()" ></Input>
                <span class = "slider-value">0</span>
            </div>
            <div>
                <h3>Total Loan Payments</h3>
                
                <Input class="range" type="range" name="totalLoanPayments" value="0" min="0" max="60" onChange="rangeSlide()" ></Input>
                <span class = "slider-value">0</span>
            </div>
            <div>
                <h3>Number of Early Installments</h3>
                
                <Input class="range" type="range" name="numberofInstallments" value="0" min="0" max="60" onChange="rangeSlide()" ></Input>
                <span class = "slider-value">0</span>
            </div>
            <div>
                <h3>Percentage of Late Installments</h3>
    
                <Input class="range" type="range" name="percentageofLateInstallment" value="0" min="0" max="25"   onChange="rangeSlide()" ></Input>
                <span class = "slider-value">0</span>
            </div>
            <div>
                <h3>Interest Rate</h3>
    
                <Input class="range" type="range" name="interestRate" value="0" min="0" max="40" onChange="rangeSlide()"></Input>
                <span class = "slider-value">0</span>
            </div>
        </div>
        <div class="output"> 
            <div id="blob4">
                <div class="blob-text-wrapper">
                    <div class="blob-text">
                        Enter Data
                    </div>
                </div>
            </div>
        </div>
        <form action="/insights" method="post">
            <button id="viewInsightsButton">View Insights</button>
        </form>
 
    </main>
    <footer>

           
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
