<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fact Hunter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
    </header>
    <main id="mainContent">
        <section>
            <h1 id="typingHeader"></h1>
        </section>
        <div class="textBox">
            <textarea id="newsInput" placeholder="Please enter your news (content only) and read the note below." name="news"></textarea>
            <button id="submit-button" class="visible">Submit</button>
        </div>
        <h2 id="predictionResult"></h2>
    </main>
    <footer>

           
    </footer>


</body>
</html>
